@import "../variables", "../mixins";

.main {
  &__intro {
    padding: 3rem 3rem 0 3rem;

    .intro__title {
      @include textStyle($textColor, 3rem, bold);
      padding: 2rem 0;
    }

    .intro__breadcrumb {
      @include alignCenter;

      .item {
        font-size: 1.6rem;

        a {
          color: $grayColor;
          transition: color .3s;

          &:hover {
            color: $textColor;
          }
        }

        &:not(:last-child)>a::after {
          font-family: "remixicon";
          vertical-align: middle;
          font-size: 2rem;
          content: '\ea52';
          color: $grayColor;
        }
      }

      .item--active>a {
        color: $textColor;
      }
    }
  }
}