@charset "UTF-8";
.footer {
  padding: 8rem 0 4rem 0;
}
.footer__about {
  padding: 0 4rem;
  display: flex;
}
.footer__about .about__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  gap: 1.5rem;
}
.footer__about .about__box .box__title {
  font-size: 2.5rem;
  color: #7a7a7a;
}
.footer__about .about__box .box__desc {
  font-size: 1.9rem;
  color: #b8b9ba;
}
.footer__about .about__box svg {
  width: 7rem;
  height: 7rem;
}
.footer__newsletter {
  padding: 4rem 2rem 4rem 2rem;
}
.footer__newsletter .newsletter__container {
  background-color: #fff;
  border-radius: 10px;
  padding: 2.5rem 3rem 2.5rem 4rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.footer__newsletter .newsletter__social {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 30%;
}
.footer__newsletter .newsletter__social .social__aparat {
  background-color: #ffe9e9;
}
.footer__newsletter .newsletter__social .social__aparat svg {
  width: 2.5rem;
  height: 2.5rem;
}
.footer__newsletter .newsletter__social .social__instagram {
  background-color: #ffe3ed;
  color: #e54787;
}
.footer__newsletter .newsletter__social .social__telegram {
  color: #7dc3ff;
}
.footer__newsletter .newsletter__social .social__telegram,
.footer__newsletter .newsletter__social .social__youtube {
  background-color: #dbf5ff;
}
.footer__newsletter .newsletter__social .social__twitter {
  background-color: #e3fefe;
  color: #18e3ff;
}
.footer__newsletter .newsletter__social .social__youtube {
  color: #18c4ff;
}
.footer__newsletter .newsletter__social div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 7rem;
  height: 7rem;
}
.footer__newsletter .newsletter__social div:not(:first-child) {
  font-size: 2.8rem;
}
.footer__newsletter .newsletter {
  display: flex;
  align-items: center;
  gap: 10rem;
  width: 75%;
}
.footer__newsletter .newsletter .newsletter__input-container {
  width: 75%;
  display: flex;
}
.footer__newsletter .newsletter .input-container__btn {
  border: 0;
  background-color: #ec9500;
  border-radius: 5px 0 0 5px;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.8rem 2rem;
  transition: background-color 0.3s;
}
.footer__newsletter .newsletter .input-container__btn:hover {
  background-color: rgb(223, 134, 1);
}
.footer__newsletter .newsletter .input-container__input {
  border-radius: 0 5px 5px 0;
  padding: 0 1.5rem;
  border: 1px solid #ddd;
  border-left: 0;
  width: 100%;
  font-size: 1.5rem;
  color: #7a7a7a;
}
.footer__newsletter .newsletter .input-container__input::placeholder {
  font-size: 1.5rem;
  color: #b8b9ba;
}
.footer__newsletter .newsletter .newsletter__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.footer__addresses {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem 5rem 15rem;
}
.footer__addresses p {
  font-size: 1.6rem;
  color: #7a7a7a;
  font-weight: bold;
}
.footer__addresses p span {
  font-size: 2rem;
  color: #ec9500;
  vertical-align: middle;
  margin-left: 0.5rem;
}
.footer__addresses .addresses__lists {
  display: flex;
  gap: 2rem;
}
.footer__addresses .lists__list .list__title {
  margin-bottom: 2rem;
}
.footer__addresses .lists__list .list__title span:nth-child(2) {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 1rem;
}
.footer__addresses .lists__list .list__title p {
  font-size: 1.4rem;
  color: #7a7a7a;
  margin-top: 0.5rem;
}
.footer__addresses .lists__list .list__title > span:first-child,
.footer__addresses .lists__list .list__item > span:first-child {
  font-size: 2rem;
  color: #ec9500;
  vertical-align: middle;
}
.footer__addresses .lists__list .list__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.footer__addresses .lists__list .list__item span:nth-child(2),
.footer__addresses .lists__list .list__item address {
  font-size: 1.6rem;
  color: #7a7a7a;
}
.footer__addresses .lists__list .list__item address {
  display: inline-block;
  width: 40rem;
  line-height: 1.5;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright .copyright__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.footer__copyright .copyright__list li {
  position: relative;
}
.footer__copyright .copyright__list li:first-child::before {
  content: "";
}
.footer__copyright .copyright__list li::before {
  content: "•";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #b8b9ba;
  /* Change the color */
  display: inline-block;
  width: 2rem;
  margin-left: 0.8rem;
  vertical-align: middle;
}
.footer__copyright .copyright__list li a.active::after {
  width: 100%;
}
.footer__copyright .copyright__list li a {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}
.footer__copyright .copyright__list li a:hover::after {
  width: 100%;
}
.footer__copyright .copyright__list li a:hover {
  color: #7a7a7a;
}
.footer__copyright .copyright__list li a::after {
  content: "";
  width: 0;
  transition: width 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  height: 3px;
  position: absolute;
  bottom: -1rem;
  right: 0;
  background-color: #ec9500;
}
.footer__copyright p {
  font-size: 1.4rem;
  color: #7a7a7a;
}

.main {
  padding: 23rem 1.5rem 0 1.5rem;
}
.main__intro .intro__title {
  font-size: 3rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 1rem;
}
.main__intro .intro__breadcrumb {
  display: flex;
  align-items: center;
}
.main__intro .intro__breadcrumb .item {
  font-size: 1.6rem;
}
.main__intro .intro__breadcrumb .item a {
  color: #b8b9ba;
  transition: color 0.3s;
}
.main__intro .intro__breadcrumb .item a:hover {
  color: #333;
}
.main__intro .intro__breadcrumb .item:not(:last-child) > a::after {
  font-family: "remixicon";
  vertical-align: middle;
  font-size: 2rem;
  content: "\ea52";
  color: #b8b9ba;
}
.main__intro .intro__breadcrumb .item--active > a {
  color: #333;
}

.main .main__intro {
  padding: 0;
}
.main .bill-container__bill {
  display: flex;
  justify-content: space-between;
}
.main .bill-container__discount {
  margin: 5rem 0;
  font-size: 1.8rem;
}
.main .bill-container__discount .discount__icon {
  font-size: 1.1rem;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0 0.2rem;
  margin-left: 1rem;
}
.main .bill-container__discount .discount__input-switcher {
  color: #ec9500;
  margin-right: 0.5rem;
  cursor: pointer;
}
.main .bill__form-container {
  width: 57%;
}
.main .bill__form-container h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.main .bill__form-container .inputs__fullname-inputs {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.main .bill__form-container .inputs__fullname-inputs .input-container {
  width: 50%;
}
.main .bill__form-container .input-container {
  margin-top: 2rem;
}
.main .bill__form-container .input-container label {
  font-size: 1.7rem;
  display: block;
  margin-bottom: 0.8rem;
}
.main .bill__form-container .input-container label span {
  font-size: 2.4rem;
  color: red;
}
.main .bill__form-container .input-container input {
  padding: 0.8rem 1.5rem;
  width: 100%;
  font-size: 1.5rem;
}
.main .bill__order-box {
  width: 40%;
  border: 2px solid #ec9500;
  border-radius: 10px;
  padding: 3rem;
}
.main .bill__order-box h2 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
.main .bill__order-box .order-box__table {
  display: block;
}
.main .bill__order-box .order-box__table thead,
.main .bill__order-box .order-box__table tbody {
  width: 100%;
  display: block;
}
.main .bill__order-box .order-box__table td {
  font-size: 1.6rem;
}
.main .bill__order-box .order-box__table tr {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.main .bill__order-box .order-box__table .product-name,
.main .bill__order-box .order-box__table .product-price {
  font-size: 1.7rem;
}
.main .bill__order-box .order-box__table .product-name {
  color: #7a7a7a;
}
.main .bill__order-box .order-box__table .product-price,
.main .bill__order-box .order-box__table .sum-of-prices {
  color: #ec9500;
}
.main .bill__order-box .order-box__description {
  font-size: 1.7rem;
  line-height: 1.5;
  word-spacing: 0.2rem;
  padding: 2rem 0;
}
.main .bill__order-box .order-box__description a {
  color: #ec9500;
  font-weight: bold;
}
.main .bill__order-box .order-box__submit-btn {
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem 0;
  background-color: #57d57e;
  transition: background-color 0.3s;
  color: #fff;
}
.main .bill__order-box .order-box__submit-btn:hover {
  background-color: #50c479;
}
.main .discount__discount-input-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}
.main .discount-input-container__input-container {
  border: 2px solid #ddd;
  padding: 3rem 3.5rem;
  width: fit-content;
  border-radius: 10px;
  margin-top: 3rem;
}
.main .discount-input-container__input-container p {
  font-size: 1.7rem;
  color: #7a7a7a;
  margin-bottom: 2rem;
  text-align: center;
}
.main .discount-input-container__input-container input {
  padding: 0.8rem 1.7rem;
  font-size: 1.6rem;
}
.main .discount-input-container__input-container button {
  font-size: 1.5rem;
  padding: 0.8rem 1.7rem;
  background-color: #57d57e;
  transition: background-color 0.3s;
  color: #fff;
}
.main .discount-input-container__input-container button:hover {
  background-color: #50c479;
}

/*# sourceMappingURL=checkOutPage.css.map */
