@mixin textStyle($color, $fontSize, $fontWeight: '', $fontFamily: '') {
  font-size: $fontSize;
  color: $color;

  @if $fontFamily != '' {
    font-family: $fontFamily;
  } @else if $fontWeight != '' {
    font-weight: $fontWeight;
  }
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin navBarListStyles {
  transition:
    opacity 0.3s,
    transform 0.3s,
    visibility 0.3s;
  transform: translateX(20px);
  visibility: hidden;
  opacity: 0;
}

@mixin showTransitionedList {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

@mixin textHover {
  transition: color 0.3s;

  &:hover {
    color: $themeColor;
  }
}

@mixin greenButtonStyles {
  background-color: #57d57e;
  transition: background-color 0.3s;
  color: $whiteColor;

  &:hover {
    background-color: #50c479;
  }
}

@mixin orangeButtonStyles {
  background-color: $themeColor;
  transition: background-color 0.3s;
  color: $whiteColor;

  &:hover {
    background-color: rgb(223, 134, 1);
  }
}

@mixin truncateText($lineHeight, $lineClamp) {
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-height: calc($lineHeight * $lineClamp);
  line-height: $lineHeight;
  -webkit-line-clamp: $lineClamp;
  line-clamp: $lineClamp;
}

@mixin showToolTipOnHover {
  &:hover {
    .tooltip {
      display: block;
    }
  }
}
