$bgColor: #f3f4f6;
$whiteColor: #fff;
$grayColor: #b8b9ba;
$grayerColor: #7a7a7a;
$textColor: #333;
$blackColor: #000;
$creamColor: #ddd;
$themeColor: #ec9500;
$mediumBoxShadow: 1px 2px 5px rgba(0, 0, 0, 20%);
$swal2-font-size: 1.5rem;
