$bgColor: #f3f4f6;
$whiteColor: #fff;
$grayColor: #b8b9ba;
$grayerColor: #7a7a7a;
$textColor: #333;
$blackColor: #000;
$creamColor: #c9c9c9;
$themeColor: #ec9500;
$boxShdow: 1px 2px 5px rgba(0, 0, 0, 20%);
