@media only screen and (max-width: 1260px) {
  .nav__bottom {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1360px) {

  .container,
  .header__nav-container {
    max-width: 1360px;
    margin: 0 auto;
  }
}