@media only screen and (max-width: 716px) {
  .header__body .body__products-title {
    gap: 3.5rem;

    .product__img {
      width: 50px;
    }
  }

  .main__bestselling .bestselling__products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 610px) {
  .body__search-input {
    width: 65rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .body__products-title {
    display: none !important;
  }

  .main__bestselling .bestselling__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .body__search-input {
    width: 100% !important;
  }

  .header__body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
