@import "../variables", "../mixins", "../generalStyles/pagesTitle", "../generalStyles/wishlistAndBasket", "../generalStyles/quantityStyles";

.main {

    .body__no-products {
        display: block;
    }

    .body__cart-products-container {
        display: none;
        justify-content: space-between;

        .cart-products__upgrade-cart {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;

            .upgrade-card__btn {
                background-color: $bgColor;
                @include textStyle($grayerColor, 1.5rem);
            }
        }

        .upgrade-card__discount-input-container {

            input {
                padding: .8rem 1.7rem;
            }

            button {
                font-size: 1.5rem;
                padding: .8rem 1.7rem;
                @include greenButtonStyles;
            }
        }

        .cart-products-container__checkout-box {
            width: 40%;
            border: 2px solid $themeColor;
            border-radius: 10px;
            padding: 3rem;

            h2 {
                font-size: 2.8rem;
                margin-bottom: 3rem;
            }

            .checkout-box__sum {
                @include alignCenter;
                justify-content: space-between;
                font-size: 1.7rem;
                border-bottom: 1px solid #ddd;
                padding-bottom: 2rem;
                margin-bottom: 2.5rem;

                .sum__sum-number {
                    @include textStyle($themeColor, 1.6rem);
                }
            }

            button {
                font-size: 1.8rem;
                width: 100%;
                padding: 1rem 0;
                @include greenButtonStyles;
            }
        }

        .cart-products-container__cart-products {
            width: 58%;

            table {
                width: 100%;
                display: block;

                tbody,
                thead {
                    display: block;
                }


                thead {
                    border-bottom: 1px solid $creamColor;
                    padding-bottom: 1.5rem;

                    tr {
                        display: flex;

                        .product-name-title {
                            width: 55%;
                        }

                        .product-price-title,
                        .product-number-title,
                        .product-price-sum-title {
                            width: calc(45% /3);
                        }

                    }

                    td {
                        font-size: 1.6rem;
                        text-align: center;
                    }
                }

                tbody>tr {
                    @include alignCenter;
                    justify-content: space-between;
                    border-bottom: 1px solid $creamColor;
                    padding: 1rem;
                }

                .product-price {
                    color: $grayerColor;
                }

                .product-price,
                .product-sum-price {
                    font-size: 1.7rem;
                }

                .product-sum-price {
                    color: $themeColor
                }

                .product-col {
                    @include alignCenter;
                    font-size: 1.8rem;
                    gap: 1.5rem;

                    img {
                        width: 7rem;
                        height: 7rem;
                        border-radius: 10px;
                    }

                    .product-col__product-title {
                        @include textHover;
                    }

                    .product-col__remove-btn {
                        font-size: 3rem;
                        cursor: pointer;
                        margin-left: .5rem;
                    }
                }
            }


        }
    }
}