@import "../variables", "../mixins", "../generalStyles/pagesTitle", "../generalStyles/BlogAndSingleBlogPage";

.main {
    &__body {
        display: flex;
        gap: 3rem;

        .body__post-container {
            width: 75%;

            .post-contaienr__post-title {
                font-size: 3.5rem;
                margin-top: 4rem;
            }

            .post-container__post-author-desc,
            .post-author-desc__author-desc,
            .post-author-desc__post-tags,
            .post-container__share-post,
            .comment-identity__comment-author,
            .comment-details__comment-identity,
            .share-post__social,
            .share-post__post-categories {
                @include alignCenter;
            }

            .comment-identity__comment-author {
                gap: 1.5rem;

                img {
                    width: 5rem;
                    height: 5rem;
                }
            }

            .post-author-desc__author-desc {
                gap: 1rem;

                img {
                    width: 3rem;
                    height: 3rem;
                }
            }

            .post-author-desc__author-desc>img,
            .post-container__post-author-details>img,
            .comment-author__img,
            .post-container__share-post>div {
                border-radius: 50%;
            }

            .post-container__post-author-desc {
                font-size: 1.5rem;
                gap: 1.5rem;
                padding: 2rem 0;
            }

            .author-desc__author-name {
                color: $textColor;
            }

            .post-author-desc__post-date {
                color: $grayerColor;
            }

            .post-author-desc__post-tags {
                gap: .5rem;
                flex-wrap: wrap;

                .post-tags__post-tag {
                    background-color: $textColor;
                    color: $whiteColor;
                    border-radius: 7px;
                    padding: .3rem 1rem;
                }
            }

            .post-container__post-img {
                width: 100%;
                border-radius: 10px;
            }

            .post-container__post-text {
                font-size: 1.7rem;

                p {
                    color: $grayerColor;
                    line-height: 2;
                }

                h3 {
                    font-size: 3.5rem;
                    line-height: 1.5;
                }

                h4 {
                    font-size: 2.6rem;
                }

                p,
                h3,
                h4 {
                    text-align: justify;
                    margin: 2rem 0;
                }

            }

            .post-container__share-post {
                justify-content: space-between;
                padding: 2rem 0;

                div>a {
                    color: $whiteColor;
                }

                .share-post__social {
                    gap: .5rem;

                    >div {
                        font-size: 2rem;
                        padding: .8rem 1rem;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                .share-post__post-categories {
                    gap: 1.5rem;

                    >div {
                        border-radius: 5px;
                        border: 1px solid $creamColor;
                        padding: .7rem 1.2rem;
                        cursor: pointer;
                        transition: border-color .3s;

                        &:hover {
                            border-color: $themeColor;

                            span::before {
                                background-color: $themeColor;
                            }
                        }

                        span {
                            font-size: 1.7rem;

                            &::before {
                                transition: background-color .3s;
                                content: '';
                                display: inline-block;
                                border-radius: 50%;
                                width: .6rem;
                                height: .6rem;
                                background-color: $creamColor;
                                margin-left: .8rem;
                            }
                        }
                    }
                }

                .share-post__twitter {
                    background-color: #198FD7;
                }


                .share-post__pinterest {
                    background-color: #A80718;
                }

                .share-post__facebook {
                    background-color: #344F87;
                }

                .share-post__email {
                    background-color: #DC891A;
                }
            }

            .post-container__post-author-details {
                text-align: center;

                h4 {
                    margin-top: 2.5rem;
                    font-size: 2rem;
                }

                p {
                    @include textStyle($grayerColor, 1.7rem);
                    line-height: 1.5;
                    word-spacing: .2px;
                    padding: 2.5rem 0;
                }

                img {
                    width: 9rem;
                    height: 9rem;
                }

                a {
                    @include textStyle($textColor, 1.8rem);
                    @include textHover;
                }
            }

            .post-comments-container__title {
                font-size: 3rem;
                margin-top: 4rem;
            }

            .comment-details__comment-identity {
                justify-content: space-between;
                padding: 2rem 0;

                .comment-identity__reply-btn {
                    font-size: 1.5rem;
                    border-bottom: 1px solid $themeColor;
                    padding-bottom: .5rem;
                    cursor: pointer;
                    transition: color .3s;

                    &:hover {
                        color: $grayerColor;
                    }
                }
            }

            .comment-author__desc {
                font-size: 1.6rem;

                .desc__comment-date {
                    color: $grayerColor;
                    margin-top: 1rem;
                }
            }

            .comment-details__comment-text {
                padding: 0 7rem 2.5rem 0;

                p {
                    @include textStyle($grayerColor, 1.8rem);
                    line-height: 1.5;
                }
            }

            .comment__reply {
                border-top: 1px solid $creamColor;
                position: relative;
                margin-right: 7rem;
            }

            .comment__reply::before {
                top: -1.5rem;
                right: -5rem;
                position: absolute;
                content: '\f307';
                font-family: "remixicon";
                @include textStyle($grayColor, 3rem);
            }

            .post-comments-container__submit-comment-container {
                font-size: 1.75rem;

                h4 {
                    font-size: 3rem;
                }

                p {
                    color: $grayerColor;
                    padding: 2rem 0;

                    span {
                        @include textStyle(red, 2.5rem);
                    }
                }
            }

            .submit-comment-container__form {

                textarea,
                input {
                    padding: .8rem 1.2rem;
                    font-size: 1.5rem;
                    width: 100%;
                }

                .inputs__comment-text-input,
                .comment-author-input__input-container {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    >span {
                        display: flex;
                        align-items: start;
                        gap: .3rem;
                    }
                }

                .inputs__comment-author-input {
                    display: flex;
                    align-items: end;
                    gap: 2rem;
                    margin-top: 1.5rem;

                    .comment-author-input__input-container {
                        flex-basis: calc(100% / 3);
                    }
                }

                .inputs__remember-me {
                    margin: 2.5rem 0;

                    input {
                        width: fit-content;
                        vertical-align: middle;
                        margin-left: .5rem;
                    }
                }

                .inputs__submit-comment {
                    font-size: 1.5rem;
                    padding: .7rem 1.5rem;
                    @include orangeButtonStyles;
                }
            }

        }
    }
}